.long-flower {
    position: absolute;
    width: auto;
    height: 100%;

    top: 0px;
    right: 0px;

    transform: scaleX(-1);
    user-select: none;

}

#side-flowers {
    position: absolute;

    top: 0;
    right: 0;

    
    width: 100%;
    height: 2000px;
    user-select: none;

}

#side-flowers-img {
    z-index: 1;
    user-select: none;

}

#side-flowers-img-bg {
    /* Blur Image */
    filter: blur(400px);
    -webkit-filter: blur(400px);

    transform: scaleX(-1);
    z-index: 1;
    user-select: none;

}

/* when screen smaller than 1000px */
@media only screen and (max-width: 1200px) {
    #side-flowers {
        z-index: -1;
    }

    #side-flowers-img-bg {
        z-index: -1;

    }
}

/* screen aspect ratio */
@media only screen and (max-aspect-ratio: 1/1) {
    #side-flowers {
        z-index: -1;
    }

    #side-flowers-img-bg {
        z-index: -1;

    }
}