body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #121212;
}

.login-container {
    width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    position: relative;
    width: 100%;
    padding: 8px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    
    border-radius: 3px;
    left: -8px;
}

#instructions {
    margin-bottom: 20px;
    font-size: 12px;
    color: #999;
    text-align: left;
}

#instructions>ul {
    text-align: left;
}

#container {
    background-color: #ffffff;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

button {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

.error-message {
    color: red;
    margin-top: 10px;
}