@media only screen and (max-width: 1026px) {
    #selfPortrait {
        display: none;
    }
}

#title1 {
  position:absolute;
  left:10vw;
  top:10vh;
  color:#F3F3F3;
  font-size:7vw;
  filter: blur(8px);
}
#title2 {
  position:absolute;
  left:10vw;
  top:10vh;
  color:#F3F3F3;
  font-size:7vw;
}

body {
  overflow-x: hidden;
  background-color: #F3F3F3;
}

p {
  font-family: 'Artifika';font-size: 2vh;
}

h1 {
  font-family: 'Arvo';font-size: 8vh;
}

h2 {
  font-family: 'Artifika';font-size: 3vh;
}

body.stop-scrolling {
  overflow: hidden;
}

div.mainDiv {
  overflow: hidden;

  left: 0px;
  top: 0px;
  position: absolute;

  width: 100vw;
  height: 100vh;
}

div.mainHeader {
  position: absolute;
  top: 80vh;
  left: 0vh;

  height: 30vh;
  width: 100vw;

  z-index: -1;

  opacity: 0;

  background-color: #3C1874;

  transform: none;
  transition: 1s all ease;
}

div.mainHeader.active {
  position: absolute;
  top: 100vh;
  left: 0vh;

  height: 5vh;
  width: 100vw;

  z-index: -1;

  opacity: 1;

  background-color: #3C1874;
  transform: none;
}

.norm {
  top: 120vh;
  position: absolute;
  opacity: 1;

  transform: none;
  transition: 0.5s all ease;
}
.norm.hidden {
  top: 120vh;
  position: absolute;
  opacity: 0;
}

.revealMainImg {
  position: absolute;

  width: auto;
  min-width: 100vw;
  max-width: none;

  z-index: -2;

  height: 120vh;
  max-height: 120vh;
  min-height: 120vh;

  background-image:url('../../source/images/firstImgMain.jpg');
  background-size:cover;

  transform: translateY(0);
  transition: 1s all ease;
}
.revealMainImg.offScreen {
  position: absolute;

  width: auto;
  min-width: 100vw;
  max-width: none;

  height: 120vh;
  max-height: 120vh;
  min-height: 120vh;

  transform: translateY(-120vh);
}
.revealMainImg.secondImgOff {
  position: fixed;

  top:120vh;

  width: 100vw;
  height: 100vh;

  transform: translateY(0);
  transition: 1s all ease;
  opacity: 0;
}
.revealMainImg.secondImgOn {
  position: fixed;

  top:120vh;

  width: 100vw;
  height: 100vh;

  z-index: 0;

  transform: translateY(-120vh);
  opacity: 1;
}
