body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
    background-color: #000000;
    padding: 0px;
}

p,
h1,
h2,
h3,
h4,
li {
    color: #DAD7CD;
    font-family: 'Prompt', sans-serif;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 19px;
}

li {
    font-size: 15px;
}

#random_description {
    width: 30%;
    word-wrap: normal;
}

#random_clivia {
    position: relative;
    align-self: flex-end;

    width: 50vw;
    height: 200px;

    margin: 0px;
}

#random_img_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

#random_info_container {
    position: absolute;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 70%);
}

#random_image {
    position: relative;

    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(0, -25%);

    border-radius: 5px;

    z-index: 1;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#random_info_li {
    text-decoration: none;
}

#logo_image {
    position: relative;

    width: 100%;
    height: 100%;
}

#header_container {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: fit-content
}

#headerParent {
    width: 50vw;
    align-self: flex-start;
    background-image: url("/source/images/clivia_title_0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    /* box-shadow: 0px 0px 10px 5px black inset; */
}

#header {
    position: relative;

    top: 1vh;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 40vw;
    height: 140px;

    gap: 4vw;
    z-index: 4;
}

#title_container {
    position: absolute;
    width: max-content;
    overflow: hidden;
    height: 100%;
    margin-right: 50vw;
    padding-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#title {
    margin-left: 2vw;
    margin-bottom: 0px;
    height: 60%;
    text-align: center;
    margin-top: 0px;
}

#slogan {
    height: 40%;
    margin-left: 2vw;
    margin-bottom: 0px;
    margin-top: 0px;
}

#navbar {
    position: relative;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.5) 50%);
    height: 40px;
}

#navbar>li {
    height: 100%;
    float: left;
}

#navbar>li a {
    display: block;
    color: #197B30;
    text-align: center center;
    padding: 10px 10px;
    text-decoration: none;
}

#navbar>li>.active {
    color: rgb(218, 96, 87)
}

#navbar>li a:hover:not(.active) {
    color: #CB1301;
}

.clivia_title {
    position: absolute;
    float: left;
    top: 0;

    width: 100%;
    height: 15%;

    z-index: 1;
    padding: 0px;

    transition: box-shadow 500ms;


}

.clivia_info {
    position: absolute;
    z-index: 2;
    /* background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(255,255,255,0)); */
    background-image: linear-gradient(150deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 50%);
    /* box-shadow: 0px 0px 5px 10px black inset; */
    /* or any other color */
    color: white;
    /* or any other color */
    padding: 0px;
    /* or any other value */
    top: 0;
    float: left;

    width: inherit;
    height: inherit;

    transition: box-shadow 500ms;
}

.clivia_info:hover {
    box-shadow: 0px 0px 5px 2px black inset;
}

.clivia_info_ul {
    position: relative;
    opacity: 0;

    transition: opacity 500ms;

    top: 20%;
    height: 80%;
}

.clivia_info_ul:hover {
    opacity: 1;
}

#images {
    position: relative;
    left: 0vw;
    height: fit-content;
    width: 100vw;

    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    overflow-x: hidden;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.track_image {
    position: relative;

    width: 40vmin;
    height: 56vmin;

    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(0, -25%);
    border-radius: 5px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.img_box {
    width: 40vmin;
    height: 56vmin;

    margin-top: 0px;
    margin-bottom: 0px;

    height: inherit;

    border-radius: 5px;
    overflow: hidden;
}

.image_track {
    width: fit-content;
    height: 26vmin;
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    bottom: 0px;
    transform: translate(-80%, 0);

    overflow: hidden;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.image_container {
    position: relative;
    height: fit-content;
    width: calc(100vw - 15px);

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;

    padding: 0px;


    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.image_container>h3 {
    position: relative;
    left: 30px;
}

#overlay_background_99 {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    /* background-color: rgba(255, 255, 255, 0.5); */

    z-index: 99;
}

#popup_title {
    position: absolute;
    z-index: 2;
}

#popup_image {
    position: absolute;
    top: 0px;
    left: 0px;

    object-fit: fill;
    height: 100%;
    width: 100%;

    overflow: hidden;

    z-index: 1;
}

#popup_effects {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: 100%;

    /* box-shadow: 5px 5px 10px 20px black; */
    z-index: 3;
}

#cliva_info_popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 50vmin;
    width: 70vmin;

    background-color: #197B30;

    z-index: 100;
}

.parallax {
    /* Set a specific height */
    min-height: 300px;
    width: 100vw;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#class_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4vmin;
}

#class_gallery_container {
    display: grid;
    place-items: center;
    position: relative;
    margin-left: 15px;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, 0%);
    height: fit-content;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
    padding-bottom: 50px;
}

#class_gallery_container_container {
    position: relative;
    width: 100vw;
    height: fit-content;
    /* background-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(16, 83, 19, 0) 100%); */
    /* box-shadow: 0px 0px 20px 10px black inset; */
}

.image_holder {
    position: absolute;
    height: 100px;
    width: 100px;

    background-color: rgba(156, 156, 156, 0.61);
    background-image: url("https://atlanticfertilisers.co.za/wp-content/uploads/2021/12/Life_is_garden_clivia-2-1024x890.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

    border-radius: 10px;
}

.class_button {
    position: relative;
    height: 100px;
    width: 100px;
}

.class_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;

    margin: 0px;
    z-index: 2;
}

.class_effects {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #DAD7CD;

    /* box-shadow: 0px 0px 5px 5px black inset; */
    z-index: 4;
}

.class_effects:hover {
    width: 100%;
    height: 100%;
    color: #ff9187;

    /* box-shadow: 0px 0px 5px 1px black inset; */
    cursor: pointer;
}

#footer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
}

#footer-contact {
    position: inherit;
    width: 33%;
    margin-left: 16.5%;
    margin-bottom: 75px;
}

#footer-about {
    position: inherit;
    width: 33%;
    margin-bottom: 75px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (max-aspect-ratio: 1/1) {
    #random_clivia {
        position: relative;
        align-self: flex-end;

        width: 100vw;
        height: 200px;

        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #header_container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: fit-content
    }

    #headerParent {
        width: 100vw;
        align-self: flex-start;
        background-image: url("/source/images/clivia_title_0.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        /* box-shadow: 0px 0px 10px 5px black inset; */
    }

    #class_gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4vmin;
    }

    #footer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    #footer-contact {
        position: inherit;
        width: 80%;
        margin-left: 0%;
        margin-bottom: 75px;
    }
    
    #footer-about {
        position: inherit;
        width: 80%;
        margin-bottom: 75px;
    }
}

@media (pointer: coarse) {
    .clivia_info_ul:hover {
        opacity: 0;
    }

    .clivia_info:hover {
        box-shadow: 0px 0px 5px 10px black inset;
    }
}